<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5" style="height: 95px;">
    <div class="container">
        <div class="row" style="margin-left: 350px">
            <div class="copyright-text col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <p style="margin-top: 15px">Copyright &copy; 2021 EMANAGE</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="social-icon" style="margin-top: 5px">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>