<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>


<!--                <form class="form-inline my-2 my-lg-0">-->
<!--                    <div class="input-group input-group-sm">-->
<!--                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"-->
<!--                               placeholder="Search...">-->
<!--                        <div class="input-group-append">-->
<!--                            <button type="button" class="btn btn-secondary btn-number">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->

<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title">
                        <h1>Say hello to us</h1>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <input type="text" class="form-control" placeholder="Full name" name="name" required>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input type="email" class="form-control" placeholder="Email address" name="email" required>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input type="submit" class="form-control" name="send message" value="Send Message">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

</body>
</html>