<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" style="margin: 0; padding: 0; scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8"/>
    <title>EMANAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="../../static/js/autoscroll.js"></script>

    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../static/css/tooplate-style.css">


</head>

<body style="margin: 0; padding: 0;">

<header xmlns:th="http://www.thymeleaf.org" id="myHeader">
    <nav class="navbar navbar-dark bg-dark" style="color: #1c2e4a">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-family: Georgia, serif; font-size: 25px">EMANAGE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline my-2 my-lg-0 entitySearch">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search ads..." name="attrName" id="attrName">
                    <div class="input-group-append">
                        <input class="btn btn-secondary btn-number" type="submit" value="Search"/>
                    </div>
                </div>
            </form>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto nmlist">
                        <li class="nav-item" style="color:whitesmoke;">
                            Ivot2000
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-success"><i class="fa fa-user"></i>
                                View profile
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-light"><i class="fa fa-user"></i>
                                Login
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary"><i class="fa fa-user-plus"></i>
                                Sign up
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-danger"><i class="fa fa-user"></i>
                                Logout
                            </button>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section xmlns:th="http://www.thymeleaf.org">
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55 divsInline">
                        <h2>All active profiles</h2>
                    </div>
                </div>
                <form method="post" action="/feed/sort" class="divsInline" style="margin-left: 170px;">
                    <label for="profileSelect" style="font-weight: bold; font-size: 18px;">Filter by: </label>
                    <select class="form-select" id="profileSelect" name="profileSelect" aria-label="Default select example" style="margin-left: 5px; margin-right: 5px;">
                        <option value="all">All</option>
                        <option value="company">Company</option>
                        <option value="person">Person</option>
                    </select>
                    <button class="btn btn-primary" style="">Filter <i class="fa fa-filter"></i></button>
                </form>
                <form method="post" action="/profiles/search" class="divsInline" style="margin-left: 811px; margin-top: -30px;">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="Search profiles..." style="height: 40px; width: 250px;"/>
                        </div>
                        <button type="submit" class="btn btn-primary" style="height: 40px;">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-4 profileItem">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="../../static/images/featured1.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#" style="font-size: 33px; font-weight: bold;">Fundamental of UX for Application design</a></h3>
                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 profileItem">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="../../static/images/featured2.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 profileItem">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="../../static/images/featured3.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 profileItem">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="../../static/images/featured4.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 profileItem">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="../../static/images/featured5.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 profileItem">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="../../static/images/featured6.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 35px;">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mt-40">
                        <a href="#myHeader" class="border-btn">Back to top of page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer id="footer" data-stellar-background-ratio="0.5" style="height: 95px;">
    <div class="container" style="background-color: white">
        <div class="row" style="margin-left: 350px;">
            <div class="copyright-text col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <p style="margin-top: 15px">Copyright &copy; 2021 EMANAGE</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="social-icon" style="margin-top: 5px;">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery.stellar.min.js"></script>
<script src="../../static/js/owl.carousel.min.js"></script>
<script src="../../static/js/smoothscroll.js"></script>
<script src="../../static/js/custom.js"></script>

</body>

</html>