<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" style="margin: 0; padding: 0; scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8"/>
    <title>EMANAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="../../static/js/autoscroll.js"></script>

    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../static/css/tooplate-style.css">


</head>

<body style="margin: 0; padding: 0;">

<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-dark bg-dark" style="color: #1c2e4a">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-family: Georgia, serif; font-size: 25px">EMANAGE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline my-2 my-lg-0 entitySearch">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search ads..." name="attrName" id="attrName">
                    <div class="input-group-append">
                        <input class="btn btn-secondary btn-number" type="submit" value="Search"/>
                    </div>
                </div>
            </form>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto nmlist">
                        <li class="nav-item" style="color:whitesmoke;">
                            Ivot2000
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-success"><i class="fa fa-user"></i>
                                View profile
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-light"><i class="fa fa-user"></i>
                                Login
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary"><i class="fa fa-user-plus"></i>
                                Sign up
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-danger"><i class="fa fa-user"></i>
                                Logout
                            </button>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
                </div>
                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Enter username">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>
                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn" style="color: #4674b8; padding-top: 10px">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <div class="container-login100-form-btn" style="color: #4674b8; padding-top: 10px">
                        <button class="login100-form-btn">
                            <a href="/register">Register here</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<footer id="footer" data-stellar-background-ratio="0.5" style="height: 95px;">
    <div class="container" style="background-color: white">
        <div class="row" style="margin-left: 350px;">
            <div class="copyright-text col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <p style="margin-top: 15px">Copyright &copy; 2021 EMANAGE</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="social-icon" style="margin-top: 5px;">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery.stellar.min.js"></script>
<script src="../../static/js/owl.carousel.min.js"></script>
<script src="../../static/js/smoothscroll.js"></script>
<script src="../../static/js/custom.js"></script>

</body>

</html>