<section id="edit" class="autoScroll"
         xmlns:th="http://www.thymeleaf.org">
    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <form method="post" action="/adedit" class="form-horizontal">
                    <div class="panel panel-default" style="margin-bottom: 30px">
                        <div class="panel-body text-center">
                            <img th:src="${imageSourceUrl}" class="img-circle profile-avatar" alt="User avatar" style="width: 400px; height: 320px;">
                        </div>
                    </div>
                    <input type="hidden" name="adId" th:value="${adId}"/>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Edit your ad</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Header</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="header" th:value="${header}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Body</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="body" th:value="${body}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a th:if="${feedFlag}" href="/feed"><button type="button" class="btn btn-default">Cancel</button></a>
                                    <a th:if="${profileFlag}" href="/profile"><button type="button" class="btn btn-default">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>