<section id="demo">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-md-offset-3">
            <div class="panel-info">
                <div class="panel-body">
                    <h3 class="panel-info">Post an ad</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Header">
                        <textarea class="form-control" placeholder="Body" rows="3"></textarea>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-info btn-sm pull-right waves-effect waves-light">Post</a>
                    <br>
                    <br>
                    <div class="panel-heading">
                        <h3 class="panel-title">Jobs/Internships</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="margin-bottom-10">
                    <ul class="list-group list-group-dividered list-group-full">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a class="avatar avatar-online" href="javascript:void(0)">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                        <i></i>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted pull-right">Just now</small>
                                    <h4 class="media-heading">@Ramon Dunn</h4>
                                    <div>Lorem ipsum Veniam aliquip culpa laboris minim tempor labore
                                        commodo officia veniam non in in in.</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a class="avatar avatar-busy" href="javascript:void(0)">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                                        <i></i>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted pull-right">38 minutes ago</small>
                                    <h4 class="media-heading">@Scott Sanders</h4>
                                    <div>Lorem ipsum Laborum sit laborum cillum proident dolore culpa
                                        reprehenderit qui enim labore do mollit in.</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a class="avatar avatar-online" href="javascript:void(0)">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="...">
                                        <i></i>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted pull-right">2 hours ago</small>
                                    <h4 class="media-heading">@Nina Wells</h4>
                                    <div>Lorem ipsum Culpa mollit ex mollit magna dolore dolore dolore
                                        tempor velit magna enim ad dolore dolore dolore.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span class="text-info" style="">163K users active</span>
                </div>
            </div>
        </div>
    </div>
</section>