<section xmlns:th="http://www.thymeleaf.org">
    <div class="limiter autoScroll">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
                </div>
                <div class="login100-form validate-form">
                    <form method="post" action="/login">
                        <th:block th:if="${accountCreated}">
                        <div class="flex-sb-m w-full p-b-30">
                            <div>
                                <label class="txt1 text-success">
                                    Account successfully created. You can now log in!
                                </label>
                            </div>
                        </div>
                        </th:block>
                        <th:block th:if="${hasError}">
                            <div class="flex-sb-m w-full p-b-30">
                                <div>
                                    <label class="txt1 text-danger">
                                        Incorrect username and password combination.
                                    </label>
                                </div>
                            </div>
                        </th:block>
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">UUID</span>
                            <input class="input100" type="text" name="username" placeholder="Enter username/company ID/company e-mail">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="password" placeholder="Enter password">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="flex-sb-m w-full p-b-30">
                            <div>
                                <label class="txt1">
                                    If you're logging in as a Company, make sure you provide either your company ID or e-mail. Otherwise, provide the username.
                                </label>
                            </div>
                        </div>
                        <div class="container-login100-form-btn" style="color: #4674b8; padding-top: 10px">
                            <button type="submit" class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="container-login100-form-btn" style="color: #4674b8; padding-top: 10px">
                        <a href="/register">
                            <button class="login100-form-btn" style="color: #29ca8e;">
                                Register here
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>