<section xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="container bootstrap snippets bootdey autoScroll">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" th:src="${imgsrc}" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2 th:text="${username}"></h2>
                            <span><strong>I am: </strong><span th:if="${role == null}">what is your role?</span><span th:if="${role != null}" th:text="${role}"></span></span>
                            <h6 th:if="${isCompany}" th:text="${companyId}"></h6>
                            <hr>
                            <h5>Bio</h5>
                            <p th:if="${bio == null}">Click on "Edit profile" to edit your bio (and your profile). Say something about yourself!</p>
                            <p th:if="${bio != null}" th:text="${bio}"></p>
                        </div>
                        <form method="get" action="/profile/edit">
                            <button type="submit" class="btn btn-outline-dark" style="margin-left: 950px">Edit profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <th:block sec:authorize="hasRole('ROLE_USER')" th:if="${isPerson}"> <!-- ZA KORISNIK -->
        <div class="container">
            <div class="row bootstrap snippets bootdeys">
                <div class="col-md-8 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">My saved ads</h3>
                            </div>
                            <div class="panel-body">
                                <br>
                                <div class="clearfix"></div>
                                <ul class="media-list">
                                    <li class="media" th:each="ad : ${personAds}">
                                        <img th:src="${ad.getCompany().getImageSourceUrl()}" alt="" class="img-circle">
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted" th:text="${ad.getTimestamp()}"></small>
                                            </span>
                                            <a class="mlElem" th:href="@{'/profiles/{uuid}' (uuid=${ad.getCompany().getId()})}"><strong class="text-success" th:text="${ad.getCompany().getName()}"></strong></a>
                                            <p class="mlElem" style="font-size: 20px; font-weight: bold;" th:text="${ad.getHeader()}"></p>
                                            <p class="mlElem" th:text="${ad.getBody()}"></p>
                                            <form method="get" th:action="@{'/profile/person_buttons/{id}' (id=${ad.getId()})}">
                                                <th:block>
                                                    <button type="submit" name="personButton" value="email" class="btn btn-outline-success media-bottom">Send e-mail</button>
                                                    <button type="submit" name="personButton" value="delete" class="btn btn-outline-danger media-bottom">Delete from saved ads</button>
                                                </th:block>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_USER')" th:if="${isCompany}"> <!-- ZA KOMPANIJA -->
        <div class="container">
            <div class="row bootstrap snippets bootdeys">
                <div class="col-md-8 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Posted ads</h3>
                            </div>
                            <div class="panel-body">
                                <br>
                                <div class="clearfix"></div>
                                <ul class="media-list">
                                    <li class="media" th:each="ad : ${companyAds}">
                                        <img th:src="${ad.getCompany().getImageSourceUrl()}" alt="" class="img-circle">
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted" th:text="${ad.getTimestamp()}"></small>
                                            </span>
                                            <strong class="text-success mlElem" th:text="${ad.getCompany().getName()}"></strong>
                                            <p class="mlElem" style="font-size: 20px; font-weight: bold;" th:text="${ad.getHeader()}"></p>
                                            <p class="mlElem" th:text="${ad.getBody()}"></p>
                                            <form method="get" th:action="@{'/profile/company_buttons_back/{id}' (id=${ad.getId()})}">
                                                <th:block th:if="${ad.getCompany().getId() == #request.getRemoteUser() || isAdmin == true}">
                                                    <button type="submit" name="otherButton" value="delete" class="btn btn-outline-danger media-bottom">Delete</button>
                                                </th:block>
                                                <th:block th:if="${ad.getCompany().getId() == #request.getRemoteUser()}">
                                                    <button type="submit" name="otherButton" value="edit" class="btn btn-outline-dark media-bottom">Edit</button>
                                                </th:block>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</section>