<section xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="container bootstrap snippets bootdey autoScroll">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" th:src="${imgsrc}" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2 th:text="${username}"></h2>
                            <span><strong>I am: </strong><span th:if="${role == null}">what is your role?</span><span th:if="${role != null}" th:text="${role}"></span></span>
                            <h6 th:if="${isCompany}" th:text="${companyId}"></h6>
                            <hr>
                            <h5>Bio</h5>
                            <p th:if="${bio == null}">Click on "Edit profile" to edit your bio (and your profile). Say something about yourself!</p>
                            <p th:if="${bio != null}" th:text="${bio}"></p>
                        </div>
                        <form method="get" action="/profile/edit">
                            <button type="submit" class="btn btn-outline-dark" style="margin-left: 950px">Edit profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <th:block sec:authorize="hasRole('ROLE_USER')" th:if="${isPerson}">
        <div class="container">
            <div class="row bootstrap snippets bootdeys">
                <div class="col-md-8 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">My saved ads</h3>
                            </div>
                            <div class="panel-body">
                                <br>
                                <div class="clearfix"></div>
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                            <!-- slika na kompanija ovde -->
                                        </a>
                                        <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small> <!-- timestamp ovde -->
                                    </span>
                                            <strong class="text-success">@MartinoMont</strong> <!-- ime na kompanija ovde -->
                                            <p style="font-size: 20px; font-weight: bold;">Title: Lorem Ipsum</p> <!-- header na oglas ovde -->
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                            </p> <!-- telo na oglas ovde -->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </th:block>
</section>